li {
    margin-top: 17px;
    height: 67px;

    mix-blend-mode: luminosity;
}

input {
    display: none;
    margin: 0px;
    width: 100%;
    height: 100%;
}

li>.rectangle {
    display: block;
    width: 100%;
    height: 100%;
    background: #5C342B;
    border: 1px solid #000000;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.65);
    transition: box-shadow 0.4s ease;
}

li>.rectangle:hover {
    box-shadow: inset -55px 0px 0px rgba(0, 0, 0, 0.65);
}

input:checked+label {
    box-shadow: inset -500px 0px 0px rgba(0, 0, 0, 0.65);
}

input:checked+.rectangle:hover {
    box-shadow: inset -500px 0px 0px rgba(0, 0, 0, 0.65);
}

li>.rectangle>img {
    position: sticky;
    width: 48px;
    height: 48px;
    left: 349px;
    margin-top: 9px;
    filter: invert(24%) sepia(11%) saturate(7036%) hue-rotate(331deg) brightness(102%) contrast(84%);
}

@keyframes animateImg {
    0% {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(266deg) brightness(101%) contrast(102%);
    }

    25% {
        margin-top: 2px;
    }

    50% {}

    75% {}

    100% {
        filter: invert(24%) sepia(11%) saturate(7036%) hue-rotate(331deg) brightness(102%) contrast(84%);
    }
}

li>.rectangle>img:hover {
    animation: animateImg 0.5s ease;
}

li>.rectangle>p {
    position: relative;
    width: 100%;
    height: 100%;
    left: 21px;
    top: -9px;
    margin: 0px;

    font-family: 'Asul';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 118.5%;
    /* identical to box height, or 57px */

    display: inline;
    align-items: center;
    letter-spacing: 0.14em;

    color: #73E1E3;

    text-shadow: -2px 4px 8px rgba(0, 0, 0, 0.25);
}